// Home Page Styles

* {
    font-family: @body-font;
}

// HERO IMAGE
.section-hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px 2%;

    div {
        .section-mixin();
    }

    h1 {
        font-size: 3.5rem;
        color: #fff;
        margin: 16px 0;
    }

    .button {
        .button-mixin(@main-color, #fff);
    }

    @media @phone {
        text-align: center;
    }
}

// STAFF PICKS
.section-staff-picks {
    .section-mixin();

    h1 {
        .title-mixin();
    }
}


// CUSTOM BUTTON USING MIXINS EXAMPLE. SEE MIXINS.LESS FOR THE BUTTON MIXIN STYLES
//-------------------------------
// .custom-button {
//     .button(pink, white);
//     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
//     font-size: 3rem;
// }

// .custom-button-2 {
//     .button(green, white);
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 1rem;
// }